<div id="add-exercise-modal" class="modal">
    <div class="modal-content exercise-modal-content">
        <div class="modal-header">
            <div class="search-container">
                <i class="fas fa-search search-icon"></i>
                <input type="text" id="exercise-search" placeholder="Cerca" autocomplete="off">
            </div>
            <button class="close-modal-btn" id="close-exercise-modal"><i class="fas fa-times"></i></button>
        </div>
        
        <div class="modal-body">
            <aside class="filters-sidebar">
                <div class="filter-group">
                    <h3>Gruppi Muscolari</h3>
                    <div class="filter-options" id="muscle-filters">
                        <label class="toggle-switch">
                            <input type="checkbox" value="Spalle">
                            <span class="slider round"></span>
                            <span class="label-text">Spalle</span>
                        </label>
                        <label class="toggle-switch">
                            <input type="checkbox" value="Petto">
                            <span class="slider round"></span>
                            <span class="label-text">Petto</span>
                        </label>
                        <label class="toggle-switch">
                            <input type="checkbox" value="Schiena">
                            <span class="slider round"></span>
                            <span class="label-text">Schiena</span>
                        </label>
                        <label class="toggle-switch">
                            <input type="checkbox" value="Braccia">
                            <span class="slider round"></span>
                            <span class="label-text">Braccia</span>
                        </label>
                        <label class="toggle-switch">
                            <input type="checkbox" value="Addominali">
                            <span class="slider round"></span>
                            <span class="label-text">Addominali</span>
                        </label>
                         <label class="toggle-switch">
                            <input type="checkbox" value="Gambe">
                            <span class="slider round"></span>
                            <span class="label-text">Gambe</span>
                        </label>
                    </div>
                </div>

                <div class="filter-group">
                    <h3>Tipo di Esercizi</h3>
                    <div class="filter-options" id="type-filters">
                        <label class="toggle-switch">
                            <input type="checkbox" value="Cardio">
                            <span class="slider round"></span>
                            <span class="label-text">Cardio</span>
                        </label>
                        <label class="toggle-switch">
                            <input type="checkbox" value="Massa"> // Assuming "Massa" corresponds to strength/hypertrophy or just general weight training. I'll need to check how exercises are categorized in JSON.
                            <span class="slider round"></span>
                            <span class="label-text">Massa</span>
                        </label>
                    </div>
                </div>
            </aside>

            <div class="exercises-grid-container">
                <div id="exercises-grid" class="exercises-grid">
                    <!-- Exercises will be injected here -->
                </div>
                <div id="no-exercises-found" style="display: none; text-align: center; color: var(--text-gray); width: 100%; margin-top: 20px;">
                    Nessun esercizio trovato.
                </div>
            </div>
        </div>
    </div>
</div>
